*{
    padding: 0;
    margin:0 ;
    box-sizing: border-box;

}
:root{
    --cor0 : rgb( 20, 147, 220);
    --cor1 : rgb( 17, 54, 71);
    --cor2 : rgb(0, 92, 197);
    --cor3 : rgb(90,20,220);
}
body{
    font-family:Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, var(--cor0), var(--cor1));
}
.inputbox {
    padding-bottom:1.5rem ;
}
.generobox  {
    display: flex;
    padding: 15px 0 15px 0;
    justify-content: space-around;
}
.generobox label {
    
}
.databox {
    padding: 15px 0;

}

#data {
    padding: 10px;
    border-radius: 7px;
    border: none;
    outline: none;
    font-size: 15px;
    cursor: pointer;
}

.conteiner {
    width: 100%;
    padding: 2rem;
}
fieldset legend {
    text-align: center;
    border: 1px solid var(--cor0);
    padding: 0.7rem;
    border-radius: 5px;
    background-color: var(--cor0);
}
fieldset {
    border: 2px solid var(--cor0);
    margin:10px;
    padding: 20px;
}

.box {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.404);
}
.inputbox {
    position: relative;
}
.inputbox input{
    border:none;
    background-color: transparent;
    border-bottom: 1px solid rgb(114, 114, 114);
    width: 100%;
    color: white;
    font-size: 16px;
    
}
   
.inputbox input:focus-visible {
    outline: 1px var(--cor0) solid;
    border:none;
    border-radius: 2px;
}

.labelcima {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    transition: .5s;
}

.inputbox input:focus ~ .labelcima,
.inputbox input:valid ~ .labelcima {
    top: -18px;
    font-size: 12px;
    color: var(--cor0);
}

#enviar {
    background-image: linear-gradient(to right, var(--cor2), var(--cor3));
    width: 100%;
    border:none;
    padding: 15px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
#enviar:hover {
    background-image: linear-gradient(to right, rgb(73, 0, 231), rgb(89, 18, 189));
}


